@{
    ViewBag.Title = "Главная";
}

<h2>Главная</h2>

<p><a href="@Url.Action("Vacations")">Просмотреть график отпусков</a></p>

<p><a href="@Url.Action("NewVacation")">Запросить новый отпуск</a></p>

<p><a href="@Url.Action("VacationIntersections")">Проверить пересечения отпусков</a></p>
